@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2017-06-07 01:06:19
 * @version $Id$
 */

/* 大背景图 */
#bg{
    position: absolute;
    width: 100%;
    min-width: 1280px;
}
#bg .bg1{
    width: 100%;
    height: 1080px;
    background-position:center;
    background-image: url('../img/bg1.jpg');
}
#bg .bg1 embed{
    margin-top: 55px;
}
#bg .bg2{
    width: 100%;
    height: 1080px;
    background-position:center;
    background-image: url('../img/bg2.jpg');
}
#bg .bg3{
    width: 100%;
    height:534px;
    background-position:center;
    background-image: url('../img/bg3.jpg');
}
#wrap{
    position: absolute;
    width: 100%;
    height: 1080px;
    margin-top: 55px;
    overflow: hidden;
}
    /* 左边的滑块图片一 */
#wrap .wSlide{
    position: absolute;
    top: 21px;
    left: -137px;
    z-index: 10;
    opacity: 0;
}

#wrap .wSlide img{
    float: left;
}
#wrap .wSlide .img2{
    border: 2px solid #fff;
    border-radius: 20px;
    margin-left: 10px;
}
    /* 右边的滑块按钮二 */
#wrap .mask{
    position: absolute;
    top: 40px;
    right: -177px;
    z-index: 10;
    width: 177px;
    height: 44px;
    border-radius: 20px;
    background: #000;
}
#wrap .mask .eSlide{
    display: block;
    width: 177px;
    height: 45px;
    background: url(../img/goindex.png);
    opacity: 0.8;
    transition: 0.8s;
}

#wrap .mask:hover .eSlide{
    opacity: 1;
}
#centerWrap{
    position: relative;
    width: 1280px;
    height: 1080px;
    margin: 0 auto;
}
    /* 滑块三 */
#centerWrap .slide3{
    position: absolute;
    top: 620px;
    right: 0;
    opacity: 0;
}
    /* 滑块四 */
#centerWrap .slide4{
    position: absolute;
    top:  792px;
    right: 95px;
    opacity: 0;
}
#centerWrap .slide4 p{
    font-size: 16px;
    color: #3d2672;
    font-weight: bold;
    line-height: 36px;
    text-indent: 10px;
}
#centerWrap .slide4 .download-area .wx{
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 6px;
    border: 4px solid rgba(255,255,255,.1);
    border-radius: 10px;
    background: url(../img/qrBg_eaa755d.png);
}
#centerWrap .slide4 .download-area .wx img{
    position: absolute;
    border-radius: 5px;
}
#centerWrap .slide4 .download-area .wx .line{
    position: absolute;
    top: -4px;
    left: -12px;
    animation: lineTopDown 3s linear infinite;
}
/* 从上到下的扫描动画 */
@keyframes lineTopDown{
    0%{top:-4px;}
    100%{top:113px;}
}
#centerWrap .slide4 .download-area .link a{
    display: block;
    width: 205px;
    height: 61px;
    margin-bottom: 5px;
}
#centerWrap .slide4 .download-area .link a.apple{
    background: url(../img/downios.png);
}
#centerWrap .slide4 .download-area .link a.android{
    background: #000;
    opacity: 0.9;
}
#centerWrap .slide4 .download-area .link a.android:hover{
    opacity: 1;
}
#centerWrap .slide4 .download-area .wx,
#centerWrap .slide4 .download-area .link{
    float: left;
}
/* 视频链接按钮 */
#centerWrap .video-link{
    position: absolute;
    top: 450px;
    right:260px;
    width: 112px;
    height: 120px;
    padding-left: 48px;
    background-image: url(../img/videoBtn.png);
    background-position-y: -2px;
    cursor: pointer;
}
/* 小箭头 */
#centerWrap .dBtn{
    position: absolute;
    left: 50%;
    bottom: 268px;
    width: 30px;
    height: 70px;
    margin-left: -50px;
    background-image: url(../img/dBtn.png);
    animation: dBtn 2s linear infinite;
}
/* 向下的小箭头动画 */
@keyframes dBtn{
    0%{bottom:268px;opacity: 1;}
    50%{bottom:200px;opacity: 0}
    100%{bottom: 268px;opacity: 0;}
}

/* 视频弹出层 */
.video-pop{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 510px;
    margin: -255px 0 0 -400px;
}
.video-pop .video-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}
/* 视频关闭按钮 */
.video-pop .close{
    position: absolute;
    top:0;
    right: -53px;
    width: 34px;
    height: 34px;
    background: url(../img/close.png);
    cursor: pointer;
    transition: 0.4s linear;
}
.video-pop .close:hover{
    transform: rotateZ(180deg);
}
.video-pop .video-box{
    width: 800px;
    height: 450px;
    border: 2px solid #b69a76;
}

/* 新版本情报 */
#newinfo{
    position: relative;
}
#newinfo .main{
    width: 1281px;
    margin: 0 auto;
}
#newinfo .main .title{
    height: 150px;
    background: url("../img/newinfo/newinf.png") no-repeat center top;
}
#newinfo .main .infoList{
    position: relative;
}
#newinfo .main .infoList ul li{
    /*float: left;*/
    position: absolute;
    width: 418px;
    height: 213px;
    /*margin: 11px 4px;*/
    cursor: pointer;
    background-repeat: no-repeat;
    background-position-y: 17px;
    transition: .5s;
}
#newinfo .main .infoList ul li:hover{
    background-position-y: 0;
}
#newinfo .main .infoList ul li.l1{
    left: 0px;
    background-image: url("../img/newinfo/p1.png");
}
#newinfo .main .infoList ul li.l2{
    left: 428px;
    background-image: url("../img/newinfo/p2.png");
}
#newinfo .main .infoList ul li.l3{
    left: 856px;
    background-image: url("../img/newinfo/p3.png");
}
#newinfo .main .infoList ul li.l4{
    top: 230px;
    background-image: url("../img/newinfo/p4.png");
}
#newinfo .main .infoList ul li.l5{
    top: 230px;
    left: 428px;
    background-image: url("../img/newinfo/p5.png");
}
#newinfo .main .infoList ul li.l6{
    top: 230px;
    left: 856px;
    background-image: url("../img/newinfo/p6.png");
}
#newinfo .main .infoList ul li i{
    position: absolute;
    background: #a57c47;
}
#newinfo .main .infoList ul li .i1,#newinfo .main .infoList ul li .i3{
    width: 0;
    height: 2px;
}
#newinfo .main .infoList ul li .i2,#newinfo .main .infoList ul li .i4{
    width: 2px;
    height: 0;
}
#newinfo .main .infoList ul li .i1{
    top: 9px;
    left: 9px;
}
#newinfo .main .infoList ul li .i2{
    top: 9px;
    right: 9px;
}
#newinfo .main .infoList ul li .i3{
    bottom: 24px;
    right: 9px;
}
#newinfo .main .infoList ul li .i4{
    bottom: 24px;
    left: 9px;
}
#newinfo .main .infoList ul li:hover .i1{
    animation: iOne .2s 0s linear 1 ;
}
#newinfo .main .infoList ul li:hover .i2{
    animation: iTwo .09s .2s linear 1 ;
}
#newinfo .main .infoList ul li:hover .i3{
    animation: iOne .2s .29s linear 1 ;
}
#newinfo .main .infoList ul li:hover .i4{
    animation: iTwo .09s .49s linear 1 ;
}
#newinfo .main .infoList ul li:hover i{
    animation-fill-mode:forwards !important;
} /*停在最后一帧*/

@keyframes iOne{
    from{width: 0px;}
    to{width: 400px;}
}
@keyframes iTwo{
    from{height: 0px;}
    to{height: 178px;}
}

/* 新版本弹出层 */
#newinfo{
    height: 720px;
}
#newinfo .popwindow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    opacity: 0;
    z-index: 999;
}
#newinfo .popwindow .content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1180px;
    height: 735px;
    margin-top: -395px;
    margin-left: -675px;
}
#newinfo .popwindow .content .closeBtn{
    position: absolute;
    left: 1150px;
    top: 120px;
    width: 34px;
    height: 34px;
    background: url(../img/close.png);
    cursor: pointer;
    transition: .4s linear;
}
#newinfo .popwindow .content .closeBtn:hover{
    transform: rotateZ(180deg);
}
#newinfo .popwindow .content .btn{
    position: absolute;
    top: 50%;
    width: 46px;
    height: 18px;
    margin-top: -9px;
    cursor: pointer;
}
#newinfo .popwindow .content .left{
    left: 35px;
    background: url(../img/newinfo/toleft.png);
}
#newinfo .popwindow .content .left:hover{
    animation: toLeft 1.4s ease-in infinite;
}
    /* 左箭头动画 */
@keyframes toLeft{
    0%{left: 35px;}
    50%{left: 0px;}
    100%{left: 35px;}
}
#newinfo .popwindow .content .right{
    right: -124px;
    background: url(../img/newinfo/toright.png);
}
#newinfo .popwindow .content .right:hover{
    animation: toRight 1.4s ease-in infinite;
}
    /* 右箭头动画 */
@keyframes toRight{
    0%{right: -124px;}
    50%{right: -159px;}
    100%{right: -124px;}
}
#newinfo .popwindow .content ul li{
    position: absolute;
    width: 100%;
    height: 100%;
}
#newinfo .popwindow .content ul li .textwrap{
    position: absolute;
    top: 190px;
    left: 557px;
    width: 435px;
    height: 335px;
    overflow: hidden;
}
#newinfo .popwindow .content ul li .textwrap .text{
    position: absolute;
    width: 390px;
    height: auto;
    padding-left: 10px;
}
#newinfo .popwindow .content ul li .textwrap .text p{
    font-size: 16px;
    line-height: 38px;
    color: #393939;
}
#newinfo .popwindow .content ul li .textwrap .text .redbold{
    color: #e5432c;
    font-weight: bold;
}
#newinfo .popwindow .content ul li .textwrap .text .blackbold{
    color: #000;
    font-weight: bold;
}
#newinfo .popwindow .content ul li .textwrap .scroll{
    position: absolute;
    top: 0;
    right: 0;
    width: 9px;
    height: 100%;
    background: #e2e2e2;
    opacity: 0;
}
#newinfo .popwindow .content ul li .textwrap:hover .scroll{
    opacity: 1;
}
@keyframes fadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}
#newinfo .popwindow .content ul li .textwrap .scroll .scrollbar{
    position: absolute;
    width: 100%;
    /*height: 50px;*/
    background: #000;
}

/* 游戏特色 */

#game{
    position: relative;
    width: 1280px;
    margin: 0 auto;
}
#game .gametitle{
    width: 800px;
    height: 150px;
    margin: 0 auto;
}
#game .banner{
    position: relative;
    width: 930px;
    height: 440px;
    margin: 30px auto 0px;
    /*border: red solid 1px;*/
    perspective: 800px;
}
#game .banner ul li{
    position: absolute;
    left: 76px;
    transform: translateZ(-350px);
    transition:  transform .4s;
    z-index: 1;
}
#game .banner li.mid{
    transform: translate3d(0,0px,-0) rotateY(0deg);
    z-index: 3;
}
#game .banner li.right{
    transform: translate3d(269px,0px,-434px) rotateY(-30deg);
    opacity: .5;
    z-index: 2;
}
#game .banner li.left{
    transform: translate3d(-267px,0px,-434px) rotateY(30deg);
    opacity: .5;
    z-index: 2;
}
#game .btn{
    position: absolute;
    top: 65%;
    width: 42px;
    height: 82px;
    margin-top: -41px;
    cursor: pointer;
}
#game .btn:hover{
    opacity: .6;
}
#game .left{
    left: 72px;
    background-image: url(../img/game/left.png);
    background-repeat: no-repeat;
    background-color: #000;
    cursor: pointer;
}
#game .right{
    right: 72px;
    background: url(../img/game/right.png);
    background-repeat: no-repeat;
    background-color: #000;
    cursor: pointer;
}













