@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2017-06-13 18:16:42
 * @version $Id$
 */
body{
    min-width: 1400px;
}
#advertisement{
    height: 55px;
}
/* 头部区域 */
#header{
    position: relative;
    width: 100%;
    height: 628px;
    background: url(../img/index/main_banner.jpg) center;
}
    /* 导航区 */
#header .topBar{
    position: absolute;
    width: 100%;
    min-width: 1400px;
    height: 100px;
    z-index: 10;
    transition: .3s;
}
#header .topBar.hover{   /* 鼠标悬停的时候添加的样式 */
    background: rgba(255,255,255,.9);
}
#header .topBar.scroll{  /* 滚动的时候添加的样式 */
    background: rgba(255,255,255,.9);
    position: fixed;
    top: 0px;
}
        /* 二维码和logo */
#header .topBar .logo{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 100px;
}
#header .topBar .logo .qrcode,
#header .topBar .logo .logoImage{
    float: left;
}
#header .topBar .logo .qrcode p,
#header .topBar .logo .qrcode img{
    float: left;
}
#header .topBar .logo .qrcode p{
    width: 14px;
    margin: 15px 11px;
    line-height: 16px;
    font-size: 16px;
}
#header .topBar .logo .qrcode img{
    width: 71px;
    height: 71px;
    margin: 13px 0px;
}
#header .topBar .logo .logoImage>*{
    float: left;
}
#header .topBar .logo .logoImage{
    width: 235px;
    height: 72px;
    margin: 13px 16px;
    border-left: 1px solid #ccc;
    color: #000;
}
#header .topBar .logo .logoImage .picLogo{
    width: 73px;
    height: 73px;
    border-radius: 16px;
    margin: 0 16px;
    background: url(../img/index/index.png) 158px -157px;
}
#header .topBar .logo .logoImage h2{
    font-weight: bold;
    font-size: 34px;
}
#header .topBar .logo .logoImage p{
    font-size: 16px;
}
    /* 主导航锚点链接 */
#header .topBar .nav{
    position: absolute;
    right: 0px;
    width: auto;
    padding-top: 49px;
}
#header .topBar .nav ul li{
    position: relative;
    float: left;
    width: 96px;
    margin-right: 18px;
}
#header .topBar .nav ul li.hide{
    display: none;
}
#header .topBar .nav ul li a{
    display: block;
    padding-bottom: 30px;
    font-size: 16px;
    color: inherit;
    transition: .5s;
}
#header .topBar .nav ul li a:hover{
    color: #cc4336;
}
#header .topBar .nav ul li.hover{
    color: #cc4336;
}
#header .topBar .nav ul li i{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 24px;
    background: url(../img/index/index.png) 16px 116px;
}
#header .topBar .nav ul li span.arrow{
    display: none;
    position: absolute;
    left: 23px;
    top: 31px;
    border: 10px solid #e1ebeb;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
#header .topBar .nav ul li:hover span{
    display: block !important;
}
#header .topBar .nav ul li span.show{
    display: block;
}
    /* 导航下拉区 */
#header .topBar .slideDown{
    display: none;
    position: absolute;
    top:100px;
    width: 100%;
    height: 200px;
    background: #e1ebeb;
}
        /* 导航下拉区的子内容 */
#header .topBar .slideDown .index{
    display: none;
    position: absolute;
    width: 100%;
    height: 160px;
    padding-top: 40px;
}
#header .topBar .slideDown .index ul li{
    float: right;
    width: 215px;
    height: 104px;
    cursor: pointer;
    transition: .5s;
}
#header .topBar .slideDown .index ul li a{
    display: block;
    width: 71px;
    height: 71px;
    margin: 0 auto;
    background-image: url(../img/index/index.png);
}
#header .topBar .slideDown .index ul li a.pic1{
    width: 66px;
    background-position: 158px -230px;
}
#header .topBar .slideDown .index ul li a.pic2{
    height: 70px;
    background-position: 158px -301px;
}
#header .topBar .slideDown .index ul li p{
    margin-top: 10px;
    text-align: center;
}
#header .topBar .slideDown .index ul li.border{
    width: 0px;
    border-left: 1px solid #c8d0d0;
}
#header .topBar .slideDown .index ul li.main{
    position: relative;
    top:0px;
}
#header .topBar .slideDown .index ul li.main:hover{
    top: -20px;
}
    /* header左边的第二个logo2动画 */
#header .logo2{
    position: absolute;
    top: 37px;
    left: -70px;
    width: 70px;
    height: 199px;
    background: url(../img/index/logo.png);
    opacity: 0;
    transform: scale(1);
    transition: transform .6s;
}
#header .logo2.scale{
    transform: scale(0);
}
    /* 人物动画 */
#role{
    position: absolute;
    left: 50%;
    width: 1120px;
    height: 589px;
    margin-left: -560px;
    -webkit-user-select: none;
}
#role .role{
    position: absolute;
    bottom: 6px;
    opacity: 1;
    transition: 1s;
}
#role .role1{
    left: 30px;
    width: 470px;
    height: 537px;
    background: url(../img/index/role/role1.png);
}
#role .role2{
    left: 320px;
    width: 423px;
    height: 544px;
    background: url(../img/index/role/role2.png);
}
#role .role1.hide,#role .role2.hide{
    left: 145px;
    opacity: 0;
}
#role .role3{
    left: 30px;
    width: 491px;
    height: 583px;
    background: url(../img/index/role/role3.png);
}
#role .role4{
    left: 265px;
    width: 503px;
    height: 501px;
    background: url(../img/index/role/role4.png);
}
#role .role3.hide,#role .role4.hide{
    left: 145px;
    opacity: 0;
}
#role .btn{
    position: absolute;
    left: 830px;
    top: 300px;
    width: 41px;
    height: 66px;
    background: url(../img/index/index.png) 158px -439px;
    cursor: pointer;
    transition: .3s;
}
#role .btn:hover{
    transform: scale(1.1);
}
#role .maskImage{
    position: absolute;
    left: 8px;
    bottom: 6px;
}
/* 服务器列表按钮 小青蛙跳动 */
#serverListBtn{
    position: absolute;
    top: 465px;
    left: 50%;
    width: 102px;
    height: 119px;
    margin-left: -540px;
    cursor: pointer;
}
#serverListBtn:hover{
    opacity: .5;
}
#serverListBtn img{
    width: 102px;
}
/* 服务器列表弹出层 */
#pop{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 11;
}
#pop .bg{
    position: absolute;
    top: 71%;
    left: 33%;
    width: 1399px;
    height: 724px;
    margin-top: -402px;
    margin-left: -850px;
    background: url(../img/index/pop_bg.png);
    transform: scale(0);
    transition: .5s;
}
#pop .bg.show{
    top: 50%;
    left: 50%;
    transform: scale(1);
}
#pop .bg .botQRcode{
    position: absolute;
    right: -79px;
    bottom: -3px;
    width: 256px;
    height: 179px;
    background: url(../img/index/index.png) -330px -856px;
}
#pop .bg .closeBtn{
    position: absolute;
    top: 98px;
    right: 0px;
    width: 34px;
    height: 32px;
    background: url(../img/index/index.png) 117px -715px;
    cursor: pointer;
    transition: .5s;
}
#pop .bg .closeBtn:hover{
    transform: rotateZ(180deg);
}

/* contentOne 开始 */
.contentOne{
    position: relative;
    width: 1400px;
    margin: 0 auto;
}
        /* 侧边(右边)日历 */
    #rightSide{
        position: absolute;
        top: -207px;
        right: -59px;
        width: 520px;
        height: 1057px;
        margin-left: 235px;
        background: url(../img/index/side_bg.png);
    }
        /* 日历标题 */
    #rightSide .sideTitle{
        position: absolute;
        top: -17px;
        left: 24px;
        width: 307px;
        height: 170px;
        background: url(../img/index/index.png) -587px -853px;
    }
        /* 日历伸缩弹出层 */
    #rightSide .qrDownLoad{
        position: absolute;
        top: 42px;
        right: 520px;
        width: 23px;
        height: 106px;
        padding: 5px;
        background-color: #fccc00;
        border-radius: 10px 0 0 10px;
        border: 3px solid #fde100;
        border-right: none;
        overflow: hidden;
        transition: width .4s;
    }
    #rightSide .qrDownLoad .shrinkBg{  /* 收缩时的样式 */
        display: none;
        width: 23px;
        height: 110px;
        background-image: url(../img/index/index.png);
        background-position: 231px -613px;
        cursor: pointer;
    }
    #rightSide .qrDownLoad.stretch{  /* 伸展开的样式 */
        width: 380px;
        height: 106px;
        border-right: 3px solid #fde100;
    }
    #rightSide .qrDownLoad .downloadBox{
        width: 380px;
        height: 106px;
    }
    #rightSide .qrDownLoad .downloadBox .close{
        float: left;
        display: block;
        width: 22px;
        height: 22px;
        background: url(../img/index/index.png) 106px -621px;
        cursor: pointer;
    }
    #rightSide .qrDownLoad .downloadBox .bg1{
        float: left;
        width: 44px;
        height: 102px;
        margin: 0px 10px;
        background: url(../img/index/index.png) 207px -613px;
    }
    #rightSide .qrDownLoad .downloadBox .bg2{
        position: relative;
        float: left;
        width: 91px;
        height: 90px;
        padding: 7px;
        background: #fff;
        border-radius: 6px;
    }
    #rightSide .qrDownLoad .downloadBox .bg2 .qr{
        width: 90px;
        height: 90px;
    }
    #rightSide .qrDownLoad .downloadBox .bg2 .bg2Line{
        position: absolute;
        top: 0px;
        left: 0px;
        animation: 2s bgLine linear infinite;
    }
        /* 扫描线动画 */
    @keyframes bgLine{
        from{top: 0px;}
        to{top: 93px;}
    }
    #rightSide .qrDownLoad .downloadBox .downLink{
        float: left;
        width: 171px;
        margin-left: 10px;
    }
    #rightSide .qrDownLoad .downloadBox .downLink a{
        display: block;
        width: 100%;
        height: 52px;
        margin-bottom: 2px;
    }
    #rightSide .qrDownLoad .downloadBox .downLink .ios{
        background: url(../img/index/index.png) 799px -608px;
    }
    #rightSide .qrDownLoad .downloadBox .downLink .android{
        background: url(../img/index/index.png) -651px 80px;

    }
    #rightSide .qrDownLoad .downloadBox .downLink .ios:hover{
        background: url(../img/index/index.png) -480px 80px;
    }
    #rightSide .qrDownLoad .downloadBox .downLink .android:hover{
        background: url(../img/index/index.png) 651px -959px;
    }
    #rightSide .arrow{
        position: absolute;
        top: 66px;
        border: 5px solid #fccc00;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }
        /* 游戏日历内容item 开始 */
    #rightSide .calendarItem{
        position: relative;
        width: 347px;
        padding-top: 141px;
    }
    #rightSide .calendarItem ul li{
        position: absolute;
        cursor: pointer;
        transition: all .5s;
    }
    #rightSide .calendarItem ul li .hide{
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: .5s;
    }
    #rightSide .calendarItem ul li .txt{
        position: absolute;
        font-size: 13px;
    }
    #rightSide .calendarItem .L1{
        left: 24px;
        width: 315px;
        height: 102px;
        background: url(../img/index/index.png) -660px 513px;
    }
    #rightSide .calendarItem .L2{
        top: 242px;
        left: -3px;
        width: 319px;
        height: 102px;
        background: url(../img/index/index.png) -620px 262px;
    }
    #rightSide .calendarItem .L3{
        top: 340px;
        left: 24px;
        width: 306px;
        height: 93px;
        background: url(../img/index/index.png) -307px 257px;
    }
    #rightSide .calendarItem .L4{
        top: 432px;
        left: 24px;
        width: 293px;
        height: 104px;
        background: url(../img/index/index.png) -302px 366px;
    }
    #rightSide .calendarItem .L5{
        top: 537px;
        left: 24px;
        width: 316px;
        height: 133px;
        background: url(../img/index/index.png) -330px 503px;
        z-index: 2;
    }
    #rightSide .calendarItem .L6{
        left: 13px;
        top: 618px;
        width: 304px;
        height: 100px;
        background: url(../img/index/index.png) -3px 259px;
    }
    #rightSide .calendarItem .L7{
        left: 24px;
        top: 705px;
        width: 310px;
        height: 109px;
        background: url(../img/index/index.png) -1080px 672px;
    }
    #rightSide .calendarItem .L8{
        top: 803px;
        left: 8px;
        width: 308px;
        height: 96px;
        background: url(../img/index/index.png) -910px 362px;
    }
    #rightSide .calendarItem .L9{
        top: 890px;
        left: 32px;
        width: 314px;
        height: 96px;
        background: url(../img/index/index.png) -595px 364px;
    }
    #rightSide .calendarItem .L1 .txt{
        position: absolute;
        top: 52px;
        left: 25px;
        width: 154px;
    }
    #rightSide .calendarItem .L2 .txt{
        left: 161px;
        top: 45px;
        width: 150px;
        height: 42px;
    }
    #rightSide .calendarItem .L3 .txt{
        left: 24px;
        top: 42px;
        width: 178px;
    }
    #rightSide .calendarItem .L4 .txt{
        left: 131px;
        top: 51px;
        width: 157px;
    }
    #rightSide .calendarItem .L5 .txt{
        left: 8px;
        top: 46px;
    }
    #rightSide .calendarItem .L6 .txt{
        left: 140px;
        top: 58px;
    }
    #rightSide .calendarItem .L7 .txt{
        left: 19px;
        top: 48px;
        width: 165px;
    }
    #rightSide .calendarItem .L8 .txt{
        left: 104px;
        top: 43px;
    }
    #rightSide .calendarItem .L9 .txt{
        left: 16px;
        top: 57px;
    }
    #rightSide .calendarItem .L1 .hide{
        background: url(../img/index/index.png) -759px -3px;
    }
    #rightSide .calendarItem .L1 .hide .hideTxt{
        padding-top: 120px;
        padding-left: 28px;
    }
    #rightSide .calendarItem .L2 .hide{
        background: url(../img/index/index.png) -313px 3px;
    }
    #rightSide .calendarItem .L2 .hide .hideTxt{
        padding-top: 95px;
        padding-left: 54px;
    }
    #rightSide .calendarItem .L2 .hide .hideTxt p{
        width: 238px;
        margin-bottom: 10px;
    }
    #rightSide .calendarItem .L3 .hide{
        background: url(../img/index/index.png) -620px -669px;
    }
    #rightSide .calendarItem .L3 .hide .hideTxt{
        padding-top: 108px;
        padding-left: 25px;
    }
    #rightSide .calendarItem .L4 .hide{
        background: url(../img/index/index.png) -328px -663px;
    }
    #rightSide .calendarItem .L4 .hide .hideTxt{
        padding-top: 109px;
        padding-left: 20px;
        width: 256px;
    }
    #rightSide .calendarItem .L5 .hide{
        background: url(../img/index/index.png) 0px -377px;
    }
    #rightSide .calendarItem .L5 .hide .hideTxt{
        padding-top: 98px;
        padding-left: 14px;
    }
    #rightSide .calendarItem .L5 .hide .hideTxt p{
        margin-bottom: 6px;
    }
    #rightSide .calendarItem .L6 .hide{
        background: url(../img/index/index.png) -3px 0px;
    }
    #rightSide .calendarItem ul li:hover{
        z-index: 2;
    }
    #rightSide .calendarItem .L1:hover,
    #rightSide .calendarItem .L3:hover,
    #rightSide .calendarItem .L5:hover,
    #rightSide .calendarItem .L7:hover{
        left: 44px;
    }
    #rightSide .calendarItem .L2:hover{
        left: 17px;
        z-index: 3;
    }
    #rightSide .calendarItem .L4:hover{
        height: 44px;
        z-index: 3;
    }
    #rightSide .calendarItem .L6:hover{
        left: 33px;
    }
    #rightSide .calendarItem .L8:hover{
        left: 28px;
    }
    #rightSide .calendarItem .L9:hover{
        left: 52px;
    }
    #rightSide .calendarItem .L1:hover .hide{
        height: 206px;
    }
    #rightSide .calendarItem .L2:hover .hide{
        height: 362px;
    }
    #rightSide .calendarItem .L3:hover .hide{
        height: 186px;
    }
    #rightSide .calendarItem .L4:hover .hide{
        height: 187px;
    }
    #rightSide .calendarItem .L5:hover .hide{
        height: 290px;
    }
    #rightSide .calendarItem .L6:hover .hide{
        height: 365px;
    }
        /* 游戏日历内容item 结束 */
        /* banner */
    #banner{
        float: left;
        position: relative;
        width: 360px;
        height: 270px;
        overflow: hidden;
        cursor: pointer;
    }
    #banner .pic{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 600%;
        height: 100%;
    }
    #banner .pic ul li{
        float: left;
        width: 360px;
        height: 270px;
    }
    #banner .tab{
        position: absolute;
        bottom: 9px;
        left: 50%;
        width: 126px;
        margin-left: -63px;
    }
    #banner .tab span{
        float: left;
        width: 10px;
        height: 10px;
        border: 3px solid #e37b63;
        border-radius: 100%;
        margin-left: 5px;
        cursor: pointer;
    }
    #banner .tab span.on{
        background: #e37b63;
    }
        /* 新闻轮播区 */
    #news{
        float:left;
        position: relative;
        width: 506px;
        height: 270px;
        margin-left: 40px;
        overflow: hidden;
    }
    #news .tab{
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #000;
    }
    #news .tab ul li{
        float: left;
        position: relative;
        width: 90px;
        height: 50px;
    }
    #news .tab ul li b{
        position: absolute;
        right: 0px;
        bottom: 3px;
        opacity: 0;
        width: 74px;
        height: 34px;
        border-radius: 34px;
        background: #68d7fc;
        transition: .5s;
    }
    #news .tab ul li.on b{
        opacity: 1;
        bottom: 10px;
    }
    #news .tab ul li span{
        position: absolute;
        top: 2px;
        right: 16px;
        width: 45px;
        height: 30px;
        background-image: url(../img/index/index.png);
    }
    #news .tab ul li i{
        position: absolute;
        top: 8px;
        left: 0px;
        width: 16px;
        height: 26px;
        background: url(../img/index/index.png) 100px -506px;
    }
    #news .tab ul li.L1{
        width: 77px;
    }
    #news .tab ul li.L1 span{
        background-position:  159px 404px;
    }
    #news .tab ul li.L2 span{
        background-position:  158px 526px;
    }
    #news .tab ul li.L3 span{
        background-position:  158px 464px;
    }
    #news .tab ul li.L4 span{
        background-position:  158px 434px;
    }
    #news .tab ul li.L5 span{
        background-position:  158px 495px;
    }
    #news .info{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 500%;
        height: 215px;
        margin-top: 2px;
        border-top: 1px solid #000;
    }
    #news .info .list{
        float: left;
        width: 506px;
        height: 215px;
    }
    #news .info .list ul li{
        width: 100%;
        height: 41px;
        border-bottom: 1px dotted #999;
        line-height: 41px;
    }
    #news .info .list ul li a{
        color: #000;
    }
    #news .info .list ul li a:hover{
        color: #c1831c;
    }
    #news .info .list ul li p{
        float: left;
        width: 410px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #news .info .list ul li span{
        float: right;
        color: #d3d0dc;
    }
/* contentOne 结束 */

/* contentTwo 开始 */
.contentTwo{
    max-width: 1920px;
    min-width: 1400px;
    height:601px;
    margin-top: 55px;
    background: url(../img/index/content/strategy_bg.jpg) center top;
}
    #mainContent{
        width: 1400px;
        height: 100%;
        margin: 0 auto;
    }
    /* 标题按钮 */
    #mainContent .title{
        width: 470px;
        height: 91px;
        padding-top: 5px;
        margin-left: 113px;
    }
    #mainContent .title span{
        float: left;
    }
    #mainContent .title .bg1{
        width: 130px;
        height: 69px;
        margin: 10px 0px;
        background: url(../img/index/index.png) -411px -587px;
    }
    #mainContent .title .dotted{
        width: 44px;
        height: 3px;
           margin: 44px 11px;
        background:url("../img/index/index.png")  -1422px -153px;
    }
    #mainContent .title .button{
        position: relative;
        width: 96px;
        height: 91px;
        cursor: pointer;
    }
    #mainContent .title .button i{
        opacity: 0;
        position: absolute;
        bottom: -8px;
        width: 100%;
        height: 100%;
        background: url(../img/index/index.png) 619px 259px;
        transition: .5s;
    }
    #mainContent .title .button:hover i,
    #mainContent .title .button.active i{
        opacity: 1;
        bottom: 0px;
    }
    #mainContent .title .button .shishenBg{
        position: absolute;
        top: 27px;
        left: 15px;
        width: 70px;
        height: 33px;
        background: url(../img/index/index.png) 156px 691px;
    }
    #mainContent .title .button .zhujueBg{
        position: absolute;
        top: 24px;
        left: 15px;
        width: 64px;
        height: 36px;
        background: url(../img/index/index.png) 81px 116px;
    }
    /* 显示的内容盒子 */
    #mainContent .showBox{
        position: relative;
        width: 809px;
        height: 341px;
        margin-left: 113px;
    }
    #mainContent .showBox .shishenList,
    #mainContent .showBox .zhujueList{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
    }
        /* 式神部分 */
    #mainContent .showBox .shishenList .shishenTab{
        width: 97%;
        height: 26px;
        margin-top: 37px;
        padding: 12px 0;
        border-bottom: 1px dotted #333;
    }
    #mainContent .showBox .shishenList .shishenTab li{
        float: left;
        height: 26px;
        margin: 0 14px;
        line-height: 29px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
    #mainContent .showBox .shishenList .shishenTab li.on{
        color: #cea441;
    }
    #mainContent .showBox .shishenList .shishenTab li:hover{
        color: #cea441;
    }
            /* 包裹内容的盒子 */
    #mainContent .showBox .shishenList .listWrap{
        position: relative;
        width: 96%;
        height: 72%;

    }
    #mainContent .showBox .shishenList .listWrap .button{
        position: absolute;
        top: 50%;
        width: 43px;
        height: 33px;
        margin-top: -16px;
        background-image: url(../img//index/index.png);
        cursor: pointer;
    }
    #mainContent .showBox .shishenList .listWrap .button.left{
        left: -50px;
        background-position: 159px 724px;
    }
    #mainContent .showBox .shishenList .listWrap .button.left:hover{
        background-position: 159px 592px;
    }
    #mainContent .showBox .shishenList .listWrap .button.right{
        right: -37px;
        background-position: 159px 625px;
    }
    #mainContent .showBox .shishenList .listWrap .button.right:hover{
        background-position: 159px 658px;
    }
    #mainContent .showBox .shishenList .listWrap .mUl{
        display: none;
        position: absolute;
        width: 100%;
        height: 86%;
        margin-top: 33px;
    }
    #mainContent .showBox .shishenList .listWrap .mUl .ulWrap{
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    #mainContent .showBox .shishenList .listWrap .mUl ul{
        width: 2200%;
        height: 207px;
    }
    #mainContent .showBox .shishenList .listWrap .mUl.on{
        display: block;
    }
    #mainContent .showBox .shishenList .listWrap .mUl li{
        float: left;
        width: 113px;
        margin-right: 20px;
        border-right: 1px solid #95a7a4;
    }
    #mainContent .showBox .shishenList .listWrap .mUl .ssList .shishen{
        position: relative;
        width: 92px;
        height: 92px;
        margin: 6px 0 15px;
        border-radius: 100%;
        background: #fff;
        cursor: pointer;
    }
    #mainContent .showBox .shishenList .listWrap .mUl .ssList .shishen img{
        position: absolute;
        left: 2px;
        top: 2px;
        width: 84px;
        height: 84px;
        border: 2px solid #c9c9c9;
        border-radius: 100%;
    }
    #mainContent .showBox .shishenList .listWrap .mUl .ssList .shishen .cover{
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        border-radius: 100%;
        transition: .5s;
        vertical-align: middle;
    }
    #mainContent .showBox .shishenList .listWrap .mUl .ssList .shishen .cover p{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);  /* 宽高不确定时的居中方式 */
        width: 18px;
        color: #fff;
        line-height: 16px;
    }
    #mainContent .showBox .shishenList .listWrap .mUl .ssList .shishen:hover .cover{
        opacity: 1;
    }
    #mainContent .showBox .shishenList .listWrap .mUl .ssList .shishen .new{
        position: absolute;
        top: 4px;
        right: -10px;
        width: 31px;
        height: 34px;
        background: url(../img/index/content/shishen/new_icon.png);
    }
    /* 主角部分 */
    #mainContent .showBox .zhujueList{
        /*display: block;*/
        /*background: pink;*/
    }
    #mainContent .showBox .zhujueList .zhujueTab{
        float: left;
        width: 140px;
        margin: 43px 0px;
    }
    #mainContent .showBox .zhujueList .zhujueTab a{
        position: relative;
        display: block;
        width: 136px;
        height: 34px;
        margin: 20px 0;
        line-height: 34px;
        text-align: center;
        font-size: 18px;
        border: 2px solid #fff;
        color: #000;
    }
    #mainContent .showBox .zhujueList .zhujueTab a b{
        display: none;
        position: absolute;
        top: 50%;
        right: -16px;
        border: 5px solid #000;
        border-top-color: transparent;;
        border-right-color: transparent;;
        border-bottom-color: transparent;;
        margin-top: -5px;
    }
    #mainContent .showBox .zhujueList .zhujueTab .leftBtn:hover{
        border-color: #000;
        background: #fff;
    }
    #mainContent .showBox .zhujueList .zhujueTab .leftBtn:hover b{
        display: block;
    }
    #mainContent .showBox .zhujueList .zhujueTab .leftBtn.border{
        border-color: #000;
        background: #fff;
    }
    #mainContent .showBox .zhujueList .zhujueTab .leftBtn.border b{
        display: block;
    }
    #mainContent .showBox .zhujueList .zhujueContent{
        float: right;
        width: 635px;
        height: 100%;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic{
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 0px;
        transition: .3s;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic.show{
        opacity: 1;
        z-index: 3;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic img,
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc{
        float: left;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic img{
        margin-right: 35px;
        margin-top: 12px;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc{
        width: 227px;
        height: 231px;
        margin-top: 80px;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc .num{
        display: block;
        width: 37px;
        height: 23px;
        margin-bottom: 10px;
        background-image: url(../img/index/index.png);
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc .num.one{
        background-position:  120px 351px;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc .num.two{
        background-position:  158px 374px;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc .num.three{
        background-position:  120px 374px;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc .num.four{
        background-position:  158px 351px;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc h3{
        font-size: 28px;
        font-weight: bold;
        border-bottom: 2px solid #000;
        margin-bottom: 2px;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc p{
        border-top: 1px solid #000;
        line-height: 23px;
        padding-top: 7px;
    }
    #mainContent .showBox .zhujueList .zhujueContent .pic .desc .skip{
        display: block;
        width: 53px;
        height: 43px;
        margin-top: 15px;
        margin-left: 10px;
        background: url(../img/index/index.png) 156px 885px;
    }
/* contentTwo 结束 */

/* contentThree 开始 */
.contentThree{
    width: 1200px;
    margin: 0 auto;
}
    /* 攻略部分 */
    #strategy{
        width: 100%;
        height: 504px;
        margin-top: -60px;
    }
        /* 搜索框 */
    #strategy .search input{
        float: left;
        width: 316px;
        height: 40px;
        border: 2px solid #000;
        border-right: none;
        margin-top: 14px;
        outline: none;
        text-indent: 15px;
    }
    #strategy .search .searchBtn{
        float: left;
        width: 54px;
        height: 54px;
        border: 2px solid #000;
        background-image: url(../img/index/index.png);
        background-position: 156px -565px;
        cursor: pointer;
    }
    #strategy .search .searchBtn:hover{
        background-position: 156px -507px;
    }
        /* 轮播区 */
    #strategy .bannerBox{
        margin-top: 12px;
    }
        /* 自动轮播 */
    #strategy .bannerBox .autoBanner{
        float: left;
        width: 368px;
        height: 430px;
        border: 2px solid #000;
        overflow: hidden;
    }
    #strategy .bannerBox .autoBanner .aBannerBox{
        position: relative;
        width: 368px;
        height: 262px;
    }
    #strategy .bannerBox .autoBanner .aBannerBox .picWrap{
        position: absolute;
        width: 200%;
        height: 228px;
    }
    #strategy .bannerBox .autoBanner .aBannerBox .picWrap .pic{
        float: left;
        width: 368px;
        height: 228px;
    }
    #strategy .bannerBox .autoBanner .aBannerBox .picWrap .pic img{
        width: 368px;
        height: 228px;
    }
    #strategy .bannerBox .autoBanner .aBannerBox .botTab{
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 48px;
        margin-left: -24px;
    }
    #strategy .bannerBox .autoBanner .aBannerBox .botTab span{
        float: left;
        width: 8px;
        height: 8px;
        border: 4px solid #000;
        border-radius: 100%;
        margin: 0 3px;
        cursor: pointer;
    }
    #strategy .bannerBox .autoBanner .aBannerBox .botTab span.on{
        background: #000;
    }
    #strategy .bannerBox .autoBanner .option li{
        float: left;
        position: relative;
        width: 92px;
        height: 168px;
        cursor: pointer;
    }
    #strategy .bannerBox .autoBanner .option li:hover b{
        top: 70px;
    }
    #strategy .bannerBox .autoBanner .option li i{
        position: absolute;
        right: 0px;
        top: 14px;
        width: 9px;
        height: 147px;
        background: url(../img/index/index.png) 262px -316px;
    }
    #strategy .bannerBox .autoBanner .option li b{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 21px;
        height: 134px;
        margin-top: -67px;
        margin-left: -10px;
        background-image: url(../img/index/index.png);
        transition: .4s;
    }
    #strategy .bannerBox .autoBanner .option li .b1{
        background-position: 213px -315px;
    }
    #strategy .bannerBox .autoBanner .option li .b2{
        background-position: 249px -466px;
    }
    #strategy .bannerBox .autoBanner .option li .b3{
        width: 22px;
        background-position: 237px -315px;
    }
    #strategy .bannerBox .autoBanner .option li .b4{
        width: 22px;
        background-position: 213px -315px;
    }
        /* 手动轮播 */
    #strategy .bannerBox .manulBanner{
        float: right;
        position: relative;
        width: 790px;
        height: 432px;
        overflow: hidden;
    }
    #strategy .bannerBox .manulBanner .tab{
        width: 773px;
        height: 100px;
        margin-left: 15px;
        border-bottom: 1px solid #cbcdcc;
    }
    #strategy .bannerBox .manulBanner .tab li{
        float: left;
    }
    #strategy .bannerBox .manulBanner .tab .btn{
        position: relative;
        width: 96px;
        height: 92px;
        cursor: pointer;
    }
    #strategy .bannerBox .manulBanner .tab .bg1{
        width: 134px;
        margin-left: -14px;
        background: url("../img/index/index.png") 523px 259px;
    }
    #strategy .bannerBox .manulBanner .tab .dotted{
        width: 44px;
        height: 4px;
        margin: 47px 10px 0;
        background: url("../img/index/index.png") -1422px -153px;
    }
    #strategy .bannerBox .manulBanner .tab .btn b{
        opacity: 0;
        position: absolute;
        bottom: -7px;
        width: 100%;
        height: 100%;
        background: url(../img/index/index.png) 619px 259px;
        transition: .4s;
    }
    #strategy .bannerBox .manulBanner .tab .btn:hover b{
        opacity: 1;
        bottom: 0px;
    }
    #strategy .bannerBox .manulBanner .tab .btn.on b{
        opacity: 1;
        bottom: 0px;
    }
    #strategy .bannerBox .manulBanner .tab .btn span{
        position: absolute;
        left: 16px;
        top: 22px;
        width: 68px;
        height: 36px;
        background-image: url(../img/index/index.png);
    }
    #strategy .bannerBox .manulBanner .tab .btn span.icon1{
        background-position: 158px 800px;
    }
    #strategy .bannerBox .manulBanner .tab .btn span.icon2{
        top: 27px;
        width: 69px;
        height: 32px;
        background-position: 157px 558px;
    }
    #strategy .bannerBox .manulBanner .tab .btn span.icon3{
        left: 14px;
        width: 74px;
        background-position: 158px 761px;
    }
    #strategy .bannerBox .manulBanner .tab .btn span.icon4{
        left: 10px;
        top: 27px;
        width: 82px;
        height: 31px;
        background-position: 320px 563px;
    }
    #strategy .bannerBox .manulBanner .listBox{
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding-top: 33px;
        width: 600%;
        height: 300px;
    }
    #strategy .bannerBox .manulBanner .listBox .listItem{
        float: left;
        width: 859px;
        height: 100%;
    }
    #strategy .bannerBox .manulBanner .listBox .listItem li{
        float: left;
        position: relative;
        width: 352px;
        height: 50px;
        padding-left: 15px;
        margin-top: 9px;
        margin-right: 47px;
        border-bottom: 1px dotted #000;
    }
    #strategy .bannerBox .manulBanner .listBox .listItem li .arrow{
        position: absolute;
        left: -3px;
        left: 0px;
        border-left: 7px solid #000;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    #strategy .bannerBox .manulBanner .listBox .listItem li .title{
        color: #000;
    }
    #strategy .bannerBox .manulBanner .listBox .listItem li:hover .title{
        color: #c1836a;
    }
    #strategy .bannerBox .manulBanner .listBox .listItem li .author{
        color: #b2b6ca;
    }
    /* 同人专区 */
    #sameFan{
        position: relative;
        margin-top: 60px;
        width: 100%;
    }
    #sameFan .tabBox{
        position: relative;
        width: 100%;
        height: 107px;
    }
    #sameFan .tabBox .icon{
        float: left;
        width: 113px;
        height: 106px;
        background: url(../img/index/index.png) 631px -666px;
    }
    #sameFan .tabBox .skip{
        position: absolute;
        right: 0px;
        bottom: 38px;
        width: 102px;
        height: 25px;
        background: url(../img/index/index.png) 628px -607px;
        transition: .4s;
    }
    #sameFan .tabBox .skip:hover{
        right: -19px;
    }
    #sameFan .tabBox .tabUl{
        float: left;
        position: relative;
        width: 1062px;
        height: 75px;
        margin-left: 24px;
        padding-top: 18px;
        overflow: hidden;
    }
    #sameFan .tabBox .tabUl .line{
        position: absolute;
        bottom: 0px;
        width: 100%;
        border-bottom: 2px solid #000;
    }
    #sameFan .tabBox .tabUl li{
        float: left;
        position: relative;
        width: 154px;
        height: 58px;
    }
    #sameFan .tabBox .tabUl li p{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 71px;
        height: 18px;
        margin-top: -8px;
        margin-left: -35px;
        background-image: url(../img/index/index.png);
        transition: .4s;
    }
    #sameFan .tabBox .tabUl li p.tab1{
        background-position: 157px 292px;
    }
    #sameFan .tabBox .tabUl li p.tab2{
        background-position: 157px 256px;
    }
    #sameFan .tabBox .tabUl li p.tab3{
        width: 72px;
        background-position: 158px 274px;
    }
    #sameFan .tabBox .tabUl li p.tab4{
        background-position: 158px 310px;
    }
    #sameFan .tabBox .tabUl li p.tab5{
        background-position: 158px 328px;
    }
    #sameFan .tabBox .tabUl li p.tab6{
        width: 88px;
        background-position: 306px 407px;
    }
    #sameFan .tabBox .tabUl li:hover p{
        top: 8px;
    }
    #sameFan .tabBox .tabUl li.on p{
        top: 8px;
    }
    #sameFan .tabBox .tabUl li b{
        position: absolute;
        bottom: -74px;
        width: 100%;
        height: 54px;
        background-image: url(../img/index/fan/icons.png);
        transition: .4s;
    }
    #sameFan .tabBox .tabUl li .b1{
        background-position: 0px 0px;
    }
    #sameFan .tabBox .tabUl li .b2{
        background-position: -168px 0px;
    }
    #sameFan .tabBox .tabUl li .b3{
        background-position: -316px 0px;
    }
    #sameFan .tabBox .tabUl li .b4{
        background-position: -478px 0px;
    }
    #sameFan .tabBox .tabUl li .b5{
        background-position: -628px 0px;
    }
    #sameFan .tabBox .tabUl li .b6{
        background-position: -916px 0px;
    }
    #sameFan .tabBox .tabUl li:hover b{
        bottom: -18px;
    }
    #sameFan .tabBox .tabUl li.on b{
        bottom: -18px;
    }
    #sameFan .tabBox .tabUl li i{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 58px;
        border-right: 1px dotted #000;
    }
    #sameFan .tabBox .tabUl .btn{
        cursor: pointer;
    }
    #sameFan .picBox{
        position: relative;
        width: 100%;
        height: 449px;
        margin-top: 32px;
        overflow: hidden;
    }
    #sameFan .picBox .picWrap{
        position: absolute;
        width: 650%;
        height: 449px;
        left: 0px;
        bottom: 0px;
    }
    #sameFan .picBox .picWrap ul{
        float: left;
        width: 1225px;
    }
    #sameFan .picBox .picWrap ul li{
        float: left;
        width: 285px;
        height: 210px;
        margin-right: 20px;
    }
    #sameFan .picBox .picWrap ul li .img{
        position: relative;
        display: block;
        width: 285px;
        height: 163px;
    }
    #sameFan .picBox .picWrap ul li .img img{
        width: 285px;
        height: 163px;
    }
    #sameFan .picBox .picWrap ul li .img span{
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        transition: .4s;
    }
    #sameFan .picBox .picWrap ul li .img span b{
        position: absolute;
        top:50%;
        left:50%;
        width: 79px;
        height: 97px;
        margin-top: -48px;
        margin-left: -39px;
        background: url(../img/index/index.png) -679px -473px;;
    }
    #sameFan .picBox .picWrap ul li .img:hover span{
        opacity: 1;
    }
    #sameFan .picBox .picWrap ul li .txt{
        width: 100%;
        color: #66667d;
        margin-top: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
/* contentThree 结束 */

/* contentFour 开始 */
    /* 视频和壁纸 */
.contentFour{
    width: 100%;
    height: 514px;
    margin-top: 20px;
    background: url(../img/index/video/video_bg.jpg);
}
.contentFour .main{
    width: 1200px;
    height: 456px;
    padding-top: 58px;
    margin: 0 auto;
}
.contentFour .main ul{
    float: left;
    width: 600px;
    height: 100%;
}
.contentFour .main .video li{
    float: left;
    width: 270px;
    height: 199px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.contentFour .main .video li.bg1{
    width: 229px;
    height: 150px;
    margin-right: 61px;
    background: url(../img/index/index.png) 484px -465px;
}
.contentFour .main .video li.bg1 a{
    display: block;
    width:100%;
    height: 100%;
}
.contentFour .main .video .pic{
    background: #fff;
    overflow: hidden;
}
.contentFour .main .video .pic img{
    transform: scale(1);
    transition: .4s;
}
.contentFour .main .video .pic:hover img{
    transform: scale(1.1);
}
.contentFour .main .video .pic p{
    color: black;
    height: 45px;
    line-height: 45px;
    text-indent: 13px;
}
.contentFour .main .wallPaper{
    width: 581px;
    height: 100%;
    padding-left:19px;
}
.contentFour .main .wallPaper li{
    float: left;
    width: 270px;
    height: 199px;
    margin-left: 20px;
    margin-bottom: 16px;
}
.contentFour .main .wallPaper li.bg1{
    width: 222px;
    height: 149px;
    margin-left: 68px;
    background: url(../img/index/index.png) 452px -613px;
}
.contentFour .main .wallPaper li.bg1 a{
    display: block;
    width:100%;
    height: 100%;
}
.contentFour .main .wallPaper .pic{
    overflow: hidden;
}
.contentFour .main .wallPaper .pic img{
    transform: scale(1);
    transition: .4s;
}
.contentFour .main .wallPaper .pic:hover img{
    transform: scale(1.1);
}
.contentFour .main .wallPaper .pic p{
    color: #666666;
    height: 45px;
    line-height: 45px;
    text-indent: 13px;
}
/* contentFour 结束 */


/* 活动专区 */
.activity{
    width: 1270px;
    height: 400px;
    margin: 65px auto 0;
}
.activity .title{
    float: left;
    width: 257px;
    height: 370px;
    background: url(../img/index/activity/activity_title.png);
}
.activity .wrap{
    float: left;
    width: 1000px;
    margin-left: 10px;
}
.activity .wrap li{
    float: left;
    position: relative;
    width: 270px;
    height: 153px;
    margin-left: 50px;
    margin-bottom: 37px;
    overflow: hidden;
}
.activity .wrap li img{
    transform: scale(1);
    transition: transform .4s;
}
.activity .wrap li:hover img{
    transform: scale(1.1);
}
.activity .wrap li p{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px;
}

/* 二维码与联系方式 */
.contact{
    position: relative;
    width: 1200px;
    height: 236px;
    margin: 0px auto;
}
.contact>*{
    float: left;
}
.contact .logo{
    margin-right: 110px;
    margin-top: 32px;
}
.contact .code{
    position: relative;
    width: 301px;
    height: 232px;
    margin-right: 85px;
}
.contact .code .context{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 240px;
    height: 178px;
    padding-top: 22px;
    padding-left: 30px;
    background: #f6f6f6;
}
.contact .code .context>*{
    float: left;
}
.contact .code .context p{
    width: 19px;
    line-height: 16px;
    margin-right: 9px;
}
.contact .code .context b{
    width: 30px;
    font-size: 21px;
    line-height: 25px;
}
.contact .code .context .line{
    position: absolute;
    left: 33px;
    bottom: 36px;
    width: 52px;
    border-bottom: 2px solid #d1d1d1;
}
.contact .code .context .name{
    position: absolute;
    left: 33px;
    bottom: 0px;
    width: 100%;
    height: 30px;
}
.contact .code .context .name a,
.contact .code .context .name .yell{
    color: #dcc499;
}
.contact .code .img{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 162px;
    height: 162px;
    border: 1px solid #ccc;
    background: #fff;
}
.contact .code .img .wbImg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
    margin-top: -64px;
    margin-left: -64px;
}
.contact .code .img .wxImg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 143px;
    height: 143px;
    margin-top: -72px;
    margin-left: -72px;
}
.contact .service{
    position: relative;
    width: 170px;
    height: 232px;
}
.contact .service .phone{
    width: 112px;
    height: 112px;
    margin-bottom: 23px;
    background: url(../img/index/index.png) -569px -473px;
}
.contact .service .num{
    font-family: Georgia,"Microsoft Yahei";
    font-size: 20px;
}
.contact .service .line{
    position: absolute;
    left: 0;
    bottom: 36px;
    width: 52px;
    border-bottom: 2px solid #d1d1d1;
}
.contact .service .link{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 30px;
}
.contact .service .link a{
    color: #dbbe7c;
}
.contact .service .link a:hover{
    text-decoration: underline;
}
.contact #backTop{
    position: absolute;
    right: -41px;
    top: 62px;
    width: 26px;
    height: 110px;
    background: url(../img/index/index.png) 203px -465px;
    cursor: pointer;
    transition: .4s;
}
.contact #backTop:hover{
    top:40px;
}

/* footer  脚部 */
.footer{
    position: relative;
    width: 100%;
    height: 410px;
    margin-top: 80px;
    padding-top: 114px;
    background: url(../img/index/foot.jpg) top center;
    overflow: hidden;
}
.footer .txt{
    width: 591px;
    height: 27px;
    margin: 0px auto ;
    background: url(../img/index/index.png) 897px 406px;
}
.footer .animate{
    position: relative;
    width: 300px;
    height: 383px;
    margin: 0 auto;
    cursor: pointer;
}
.footer .animate .txt2{
    position: absolute;
    top: 54px;
    left: 50%;
    width: 116px;
    height: 23px;
    margin-left: -58px;
    background: url(../img/index/index.png) 628px -633px;
    opacity: 1;
    transition: .6s;
}
.footer .needle{
    position: absolute;
    top: 108px;
    left: 50%;
    width: 22px;
    height: 70px;
    margin-left: -11px;
    background: url(../img/index/index.png) 158px -81px;
    transition: .6s;
}
.footer .qrd{
    opacity: 0;
    position: absolute;
    top: 108px;
    left: 50%;
    width: 200px;
    height: 152px;
    margin-left: -73px;
    transition: .6s;
}
.footer .qrd img{
    float: left;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 31px 1px #AAD7DE;
}
.footer .qrd p{
    float: right;
    width: 20px;
    line-height: 17px;
    font-weight: bold;
}
.footer .door{
    position: absolute;
    left: 50%;
    bottom: -42px;
    width: 215px;
    height: 223px;
    margin-left: -96px;
    background: url(../img/index/index.png) -352px -363px;
    transition: .6s;
}
.footer .animate:hover .txt2{
    opacity: 0;
}
.footer .animate:hover .needle{
    top: 33px;
}
.footer .animate:hover .qrd{
    top: 76px;
    opacity: 1;
}
.footer .animate:hover .door{
    bottom: -85px;
}

/* share 分享 */
.share{
    width: 377px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}
.share p,
.share ul{
    float: left;
    color: #de7f7f;
}
.share ul li{
    float: left;
    margin: 0 10px;
}
.share ul li a{
    color: #de7f7f;
}
.share ul li a:hover{
    color: #c9b27c;
}


/* copyRight   版权 */
.copyRight{
    width: 810px;
    height: 146px;
    margin: 0 auto;
}
.copyRight .logo{
    float: left;
}
.copyRight .logo a{
    float: left;
}
.copyRight .botNav{
    float: left;
    width: 522px;
    height: 54px;
    padding-left: 36px;
}
.copyRight .botNav .nav1{

}
.copyRight .botNav .nav1 a{
    font-size: 12px;
    color: #000;
    font-family: SimSun;
}
.copyRight .botNav .nav1 a:hover{
    text-decoration: underline;
}
.copyRight .botNav .nav2{
    position: relative;
    width: 490px;
    height: 26px;
    margin-top: 3px;
    line-height: 26px;
}
.copyRight .botNav .nav2 p{
    font-size: 12px;
}
.copyRight .botNav .nav2 a{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 142px;
    height: 26px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #610000;
}
.copyRight .botNav .nav2 a:hover{
    text-decoration: underline;
}
.copyRight .part2 p{
    font-size: 12px;
    margin: 10px 0;
    font-family: SimSun;
}
.copyRight .part2 p a{
    color: #000;
}
.copyRight .part2 p a:hover{
    text-decoration: underline;
}






